Análisis de Tweets - Sentimiento.json
{
  "name": "Análisis de Tweets - Sentimiento",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  \n  let raw = '';\n  if (data.content?.parts?.[0]?.text) {\n    raw = data.content.parts[0].text.trim();\n  } else if (data.candidates?.[0]?.content?.parts?.[0]?.text) {\n    raw = data.candidates[0].content.parts[0].text.trim();\n  } else {\n    raw = JSON.stringify(data);\n  }\n\n  const validValues = ['POSITIVO', 'NEGATIVO', 'NEUTRAL'];\n  const sentiment = validValues.includes(raw.toUpperCase())\n    ? raw.toUpperCase()\n    : 'NEUTRAL';\n\n  results.push({\n    json: {\n      sentiment: sentiment,\n      tweet: $('On form submission').item.json.Tweet || '',\n      raw: raw\n    }\n  });\n}\n\nreturn results;"
      },
      "name": "Parsear Sentimiento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        -32
      ],
      "id": "7150d3de-7aa9-465e-9a52-df6e666e88bb",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\n\n// Extraer el texto crudo del LLM\nlet raw = '';\nif (data.content?.parts?.[0]?.text) {\n  raw = data.content.parts[0].text.trim();\n} else {\n  raw = JSON.stringify(data);\n}\n\n// Parsear el JSON que devuelve el modelo\nlet analysis;\ntry {\n  const clean = raw.replace(/```json|```/g, '').trim();\n  analysis = JSON.parse(clean);\n} catch(e) {\n  analysis = { resumen: raw, explicacion: 'No se pudo parsear el análisis.' };\n}\n\nconst tweet = $('Parsear Sentimiento').item.json.tweet;\n\nreturn [{\n  json: {\n    subject: '🚨 Tweet negativo detectado',\n    body: `Tweet original:\\n\"${tweet}\"\\n\\nResumen:\\n${analysis.resumen}\\n\\nMotivo:\\n${analysis.explicacion}`,\n    tweet: tweet,\n    resumen: analysis.resumen,\n    explicacion: analysis.explicacion\n  }\n}];"
      },
      "name": "Armar Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        -16
      ],
      "id": "bbe07366-e874-4f4b-abf6-98cb603e5d0a",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const tweet = $('Parsear Sentimiento').item.json.tweet;\nconsole.log(`Tweet positivo procesado: ${tweet}`);\nreturn [{ json: { status: 'positivo', tweet, timestamp: new Date().toISOString() } }];"
      },
      "name": "Log Positivo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -160
      ],
      "id": "81d9adf0-c362-4418-816a-1a96c1e8bdce"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un clasificador de sentimiento especializado en tweets en español latinoamericano. Devuelve únicamente NEGATIVO o POSITIVO en mayúsculas. Tweet: {{ $json.Tweet }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -352,
        -32
      ],
      "id": "d174c35d-90ee-42c4-83b1-919d9fc9b96c",
      "name": "Message a model",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "googlePalmApi": {
          "id": "4kh2lJM8F8ZmWn1F",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "Eres un analista de redes sociales. Cuando recibes un tweet negativo, respondes ÚNICAMENTE con un JSON válido con este formato exacto: {\"summary\": \"resumen en máximo 2 oraciones\", \"reasons\": [\"razón 1\", \"razón 2\"]}. Sin texto adicional.",
              "role": "model"
            },
            {
              "content": "=Eres un asistente de análisis de sentimientos.\n\nSe te proporciona el siguiente tweet:\n\"{{ $json.tweet }}\"\n\nEste tweet fue clasificado como NEGATIVO.\n\nTu tarea es:\n1. Escribir un resumen conciso del tweet (máximo 2 oraciones).\n2. Explicar por qué fue clasificado como negativo, identificando las causas o motivos específicos presentes en el texto.\n\nResponde ÚNICAMENTE en el siguiente formato JSON, sin texto adicional ni bloques de código:\n{\n  \"resumen\": \"...\",\n  \"explicacion\": \"...\"\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        800,
        -16
      ],
      "id": "6ddf9d8b-3b94-46e0-b206-b866556c00c8",
      "name": "Message a model1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "googlePalmApi": {
          "id": "4kh2lJM8F8ZmWn1F",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Tweets",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Tweet"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1120,
        -32
      ],
      "id": "98d57306-c9fc-4afe-9407-22138ec3b61a",
      "name": "On form submission",
      "webhookId": "4449c21f-e1b1-478f-ba11-6bb162477a5c"
    },
    {
      "parameters": {
        "tableId": "Tweets",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.submittedAt }}"
            },
            {
              "fieldId": "Tweet",
              "fieldValue": "={{ $json.Tweet }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -528,
        -32
      ],
      "id": "f3432a99-a960-435e-8f4b-ae8cf1b6406f",
      "name": "Create a row",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "bEMbIOfjKjjtqj3y",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -704,
        -32
      ],
      "id": "18a17a1c-a1a2-450c-a7dd-3550cf26a5bc",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Tweets",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Create a row').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Sentiment",
              "fieldValue": "={{ $json.sentiment }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        144,
        -32
      ],
      "id": "3a346485-8004-4d19-90e5-f743870e0f36",
      "name": "Update a row",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "bEMbIOfjKjjtqj3y",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "andresperelmuter@gmail.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1392,
        -16
      ],
      "id": "ab6ec09d-9c65-4b35-9151-234d083e4b4a",
      "name": "Send a message",
      "webhookId": "c13baf32-0535-471a-bade-c487431170c0",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "C9eli40isSVjahJl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.sentiment }}",
                    "rightValue": "POSITIVO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "12957e21-e242-492f-8117-9950d06eaba8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "POSITIVO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "459938c6-fe84-4c28-9a52-83e3ee4373bf",
                    "leftValue": "={{ $json.sentiment }}",
                    "rightValue": "NEGATIVO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NEGATIVO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        320,
        -32
      ],
      "id": "1ebdc322-0875-401b-b7d1-a4d484234d02",
      "name": "Switch",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const tweet = $('Parsear Sentimiento').item.json.tweet;\nconsole.log(`Tweet negativo procesado: ${tweet}`);\nreturn [{ json: { status: 'negativo', tweet, timestamp: new Date().toISOString() } }];"
      },
      "name": "Log Negativo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        144
      ],
      "id": "6803f5fd-f209-4291-90cb-33fe2b9e3690"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  id: Date.now(),\n  Tweet: $input.item.json.Tweet,\n  submittedAt: $input.item.json.submittedAt,\n  formMode: $input.item.json.formMode\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        -32
      ],
      "id": "7f62c7a9-fd43-4cb2-8638-be696cca5d21",
      "name": "Code in JavaScript",
      "retryOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Parsear Sentimiento": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar Email": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parsear Sentimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Armar Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Log Positivo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Negativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Negativo": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c13109f7-adec-4f43-a000-827634ab8217",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "05c3941c3a8cfb2efd7ed696b0dc9976974d495e14e07add473e3639ceae91db"
  },
  "id": "Q9C_3GfA567RoVZduNrTW",
  "tags": []
}